<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Language</title>
</head>
<body>
    <h2>Select your preferred language</h2>
    <form method="post">
        <select name="language">
            <option value="en">Tamil</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="en">Telungu</option>
            <option value="en">Kanada</option>
            <option value="en">hinese</option>
        

            <!-- Add more languages as needed -->
        </select>
        <button type="submit">Continue</button>
    </form>
</body>
</html>
